body {
  background: #333;
  margin: 0;
  font-family: 'Mina', sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 25px;
  color: #FEFEFE;
}

ul {
  list-style-type: none;
  margin: 0x;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: auto;
}

button {
  border: none;
  background-color: #F7D162;
  color: #6C5100;
  padding: 5px 10px 5px 10px;
  font-weight: 500;
}

button:hover {
  background-color: #5454AD;
  color: #FEFEFE;
}

.active {
    background: #5454AD;
    color: white;
}

.title {
  background-color: #5454AD;
}

.info {
  background-color: #F7D162;
  margin-bottom: 25px;
}

.navbar {
  display: inline-block;
  min-height: 25px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
}

.squares {
  max-width: 550px;
  margin: auto;
}

.square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%;
  margin:1.66%;
  border-radius: 25px;
  background-color: white;
}

.square:hover {
  cursor: pointer;
}

.won .square {
   transition: background 0.6s;
   transition: opacity 0.6s;
}

.hidden {
  opacity: 0;
  transition: opacity 0.6s;
}

.hidden:hover {
  cursor: default;
}

.title #rgb {
  font-style: italic;
}

#message {
  width: 520px;
  display: inline-block;
}
